.map {
  position: relative;
  height: 85vh;
  width: 100%;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  padding: 2%;
  background-color: white;
}

.filter {
  border: none;
  position: absolute;
  right: 1%;
  top: 1%;
}
.gnw-map {
  width: 100%;
  border-radius: 4px 80px 4px 4px;
}

.gnw-map-service__osm {
  border-radius: 4px 80px 4px 4px;
}

.gnw-map-service {
  height: 100% !important;
}
